.Earth-part{
    display: flex;
    justify-content:flex-start;
    /* width: 1440px; */
    max-width: 100%;
  height: 1221px;
  top: 2160px;
  left: 1440px;
  gap: 0px;
  opacity: 0px;
  color: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 45.15%);

}
.right-part-d{
  width: 1,440px;
  height:6,480px;
 padding-top: 39.2px;
 position: absolute;
  gap: 0px;
  opacity: 0px;

}
.left-part-d{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 668.25px;
  height: 911.25px;
  padding-top: 194px;
  padding-left: 621.75px;
  gap: 0px;
  opacity: 0px;
}
.left-heading-d{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 533px;
  height: 181.75px;
  gap: 18.75px;
  opacity: 0px;
}
.left-heading-h2-d{
  width: 533px;
  height: 140px;
  gap: 0px;
  opacity: 0px;  
}
.left-heading-h2-d h2{
  font-family: Poppins;
  font-size: 58.5px;
  font-weight: 600;
  line-height: 70.2px;
  text-align: left; 
  color: white;   
}
.left-para-d{
  width: 261px;
  height: 23px;
  gap: 0px;
  opacity: 0px;
}
.left-para-d p {
  font-family: Poppins;
  font-size: 15px;
  font-weight: 400;
  line-height: 22.5px;
  text-align: center;
  color: white;
}
.left-para-d p span{
  font-family: Poppins;
  font-size: 15px;
  font-weight: 400;
  line-height: 22.5px;
  text-align: center;
  color: aqua;
}
.four-card-d{
  display: flex;
  flex-wrap: wrap;
 align-items: flex-start;
 align-content: flex-start;
  align-items: flex-start;
  width: 521.25px;
  height: 517px;
  position: absolute;
  padding-top: 272.25px;
  padding-left: 147px;
  gap: 101.25px;
  opacity: 0px;   
}
.inner-four-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:flex-start;
  width: 210px;
  height:204.75px;
  gap: 30px;
  opacity: 0px;
  backdrop-filter: blur(22.5px);
}
.inner-card-pic-d img{
  width: 86.25px;
  height: 86.25px;
  gap: 0px;
  opacity: 0px;
}
.inner-card-data-d{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 210px;
  height: 88.5px;
  gap: 15px;
  opacity: 0px;
}
.inner-card-heading-d{
  width: 210px;
  height: 19.5px;
  gap: 0px;
  opacity: 0px;
}
.inner-card-heading-d h2{
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  text-align: left;
  color: rgba(255, 255, 255, 1);
}
.inner-card-para-d{
  width: 210px;
  height: 54px;
  gap: 0px;
  opacity: 0px;
}
.inner-card-para-d p {
  font-family: Poppins;
  font-size: 12px;
  font-weight: 300;
  line-height: 18px;
  text-align: left;  
  color:  rgba(255, 255, 255, 1);;
}